@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap');

body {
  font-family: 'Mitr', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


.headerFooter{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  font-size: 18px;
  color: inherit;
  cursor: pointer;
}
#games {
  background-color: #a11f2b;
}
#movies {
  background-color: #2500b8;
}
.button-row span {
  color: white;
  transition: transform 0.2s ease, border-color 0.2s ease, filter 0.2s ease;
}
.button-row span:hover {
  filter: brightness(0.8);
}
.button-row span.active {
  color: black;
}

.image-container {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

.review-image {
  width: 700px;
  max-width: 80%;
  border: 5px #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  font-size: 17px;
  max-width: 75%;
  padding-top: 20px;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: min(75%,600px);
  padding: 20px;
}

.button {
  width:70%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: large;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: blue;
}

.footer {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
}

.footer-text {
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.developers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.developer {
  width: 25%;
  text-align: center;
}

.developer-image {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

.footer-logos {
  margin-top: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 0.5px;
}
